<div class="container"
	 *ngIf="!loading">
	<ng-container *ngIf="isMobile; then loginLogo"></ng-container>
	<div class="login-form-container">
		<ng-container *ngIf="!isMobile; then loginLogo"></ng-container>
		<form class="login-form"
			  [formGroup]="loginForm"
			  (ngSubmit)="onSubmit()">

			<app-input-form [inputLabel]="'Email'"
							formControlName="email">
			</app-input-form>
			<app-input-form [inputLabel]="'Password'"
							formControlName="password"
							[inputType]="'password'">
			</app-input-form>

			<div class="form-group">
				<app-toggle></app-toggle>
				<!-- <label class="switch">
					<input type="checkbox"
						   formControlName="remember"
						   checked>
					<span class="slider round"></span>
				</label> -->
			</div>

			<button type="submit"
					class="btn btn-success">Save</button>

		</form>
	</div>
</div>

<ng-template #loginLogo>
	<div class="login-logo"></div>
	<p class='login-logo__title'
	   *ngIf="!isMobile">Prueba técnica</p>
</ng-template>