<div class="container"
	 *ngIf="!loading">
	<ng-container *ngIf="isMobile; then loginLogo"></ng-container>
	<div class="login-form-container">
		<ng-container *ngIf="!isMobile; then loginLogo"></ng-container>
		<form class="login-form"
			  [formGroup]="loginForm"
			  (ngSubmit)="onSubmit()">
			<div class="inputs-container">

				<app-input-form [inputLabel]="'Email'"
								formControlName="email"
								[iconClass]="'fa-regular fa-user'">
				</app-input-form>
				<app-input-form [inputLabel]="'Contraseña'"
								formControlName="password"
								[inputType]="'password'"
								[iconClass]="'fa-solid fa-lock'">
				</app-input-form>

				<div class="toggle-group">

					<p>Recordar</p>
					<app-toggle></app-toggle>
					<!-- <label class="switch">
					<input type="checkbox"
						   formControlName="remember"
						   checked>
					<span class="slider round"></span>
				</label> -->
				</div>
			</div>

			<div class="btn-container">
				<button type="submit"
						class="login-btn">Acceder</button>
			</div>
		</form>
	</div>
</div>

<ng-template #loginLogo>
	<div class="login-logo"></div>
	<p class='login-logo__title'
	   *ngIf="!isMobile">Prueba técnica</p>
</ng-template>